<!DOCTYPE html>
<html>
<head>
<title>Front</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
   .content {
  max-width: 500px;
  margin: auto;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
table { 
  padding: 30px;
  margin: 40px;
  background-color: #F4F4F4;
  border-radius: 40px;
  color: black;
  border: 1px black solid transparent;
  font-family: Avenir;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
    .button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.center {
display: flex;
justify-content: center;
align-items: center;
height: 200px;
}
.button1 {background-color: #06110c;} /* Green */
.button1 {border-radius: 12px}
.button2 {background-color: #020708;} 
.button2 {border-radius: 12px}
.button3 {background-color: #000000;}
.button3 {border-radius: 12px}/* Blue */
</style>
</head>
<body>

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Side Navigation</h1>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
</nav>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom">Income Tax Calculators</h1>
    <div class="w3-padding-32">
    </div>
  </div>
</header>

<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-theme-l1"> 
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">×</span>
        <h4>Oh snap! We just showed you a modal..</h4>
        <h5>Because we can <i class="fa fa-smile-o"></i></h5>
      </header>
      <div class="w3-padding">
        <p>Cool huh? Ok, enough teasing around..</p>
        <p>Go to our <a class="w3-btn" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
      </div>
      <footer class="w3-container w3-theme-l1">
        <p>Modal footer</p>
      </footer>
    </div>
</div>

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:400px">
  <h4><strong>HRA EXEMPTIONS<strong></h4><br>
  <h6>House Rent Allowance is given by your employer as an allowance for your rented accommodation. 
    You can claim this HRA exemption even if your employer does not pay you any HRA or if you are self-employed. 
    But the catch is that you should be living in rented accommodation to exempt HRA from tax deductions. 
    People who have a place of their own and get HRA from their employer cannot reap the benefits of claiming tax deductions under the HRA exemption section.
    for more information you can read this acticle form clear tax.
    <a href="https://cleartax.in/s/hra-house-rent-allowance">click here</a>
  </h6>
    </div>
    <div class="w3-card w3-container" style="min-height:400px">
        <h4><strong>Section 80DDB<strong></h4><br>
        <h6>
        Section 80DDB speaks of deductions in respect of expenses incurred for medical treatment.This Section provides that if an individual or an HUF has incurred medical expenses for treatment of specified disease or ailment, such expense is allowed as deduction, subject to such conditions and capped at such amount as specified, under Section 80DDB of Income Tax Act. Here, this speaks of medical expenses incurred on treatment of diseases or ailments and should not be confused with premium paid for health  insurance bought covering such diseases or ailments.for more information, please
          <a href="https://cleartax.in/s/get-certificate-claiming-deduction-section-80ddb">click here</a>
        </h6>
          </div>
  </div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:800px">
  <h3><strong>INCOME TAX CALCULATOR</strong></h3><br>
  <div id=outer>
    <div class='ac b'>Income Tax Calculator in India AY 2021-22</div>
    <div id=cover>
    <form name=it>
        <table class=main><col class=w60><col class=w40>
    <tr>
        <td>Opted for Sec. 115BAC<td>
            <select id=opt onchange=itax2122();><option value='no' selected>No<option value='yes'>Yes</select>
    <tr class=stat>
        <td>Select Status<td>
        <select id=age ><option value='b60' selected>Resident < 60 years<option value='a60'>>= 60 < 80 years<option value='a80'>>= 80 years<option value=huf>HUF / NRE</select>
    <tr>
        <td>Income<td><input type=number id=tinc>
    <tr>
        <td>Eligible Deductions<td><input type=number id=ed>
    <tr>
        <td><button type=reset class="w3-button w3-black w3-round-xxlarge" >Reset</button><td><button type=button class="w3-button w3-black w3-round-xxlarge" onclick=itax2122();>Submit</button>
        </table>
        <table class=main><col class=w60><col class=w40>
    <tr>
        <td>Taxable Income<td><input class=op id=ninc >
    <tr>
        <td>Income Tax<td><input class=op id=itax>
    <tr>
        <td>Surcharge<td><input class=op id=surch>
    <tr>
        <td>Education Cess<td><input class=op id=ecess>
    <tr>
        <td>Total Tax Liability<td><input class=op id=liab>
    <tr>
    </table>
     <button class="w3-button w3-black w3-round-xxlarge" type="submit" name="btn" value="backbtn">Go back</button>
</form>
</div>
</div>   
</p>
    </div>
  </div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:400px">
  <h4><strong>PROFESSIONAL TASK</strong></h4><br>
  <h6>Professional tax is a tax that is levied by a state government on all individuals who earn a living through any medium. 
    Each state has a slab that it declares and the professional tax is deducted based on these slabs. Some states and union territories do not charge professional tax too. How it is paid is by dividing the annual professional tax due into 12 equal installments that are paid every month, except the one paid in February which is higher than the other months.
    if you want to calculate your Professional tax, please
    <a href="//karvitt.com/income-tax/other-tax/prof-tax">click here</a>
  </h6> 
  </div>
  <div class="w3-card w3-container" style="min-height:400px">
    <h4><strong>Special Allowance<strong></h4><br>
    <h6>
        The special allowance is offered to the employees to enable them in meeting their expenses. They incur these expenses while performing their duties of an office or employment of profit. The amount varies from one company to another as per the need. It is a part of the fixed pay. You can know the details of the allowance either in the offer letter or monthly pay slip. Since it forms a part of the salary it is taxable in the hands of the employee. 
        Special allowances are exempt from tax under section 10(14) of the Income Tax Act, 1961.For more information, please
      <a href="https://scripbox.com/tax/special-allowance/#:~:text=Special%20allowances%20are%20exempt%20from,(2)%20of%20section%2017.">click here</a>
    </h6>
      </div>
</div>
</div>
<script>
   function show(elmnt){ document.getElementById(elmnt).style.display='block'}function hide(elmnt){ document.getElementById(elmnt).style.display='none'}
function sc(elm) {var x = document.getElementsByClassName(elm);var i;for (i = 0; i < x.length; i++) {x[i].style.display=''}}function hc(elm){var x = document.getElementsByClassName(elm);var i;for (i = 0; i < x.length; i++) {x[i].style.display='none'}}
// -- Itax
function itax2122(){var age= document.getElementById('age').value; var tax; var liab; var tcredit=0; var surch=0; var ttax; var mtr=0; var ecess;
var inc = document.getElementById('tinc').value*1 - document.getElementById('ed').value*1;var opt= document.getElementById('opt').value;

if(opt=='no'){
if((age=='b60' || age=='huf')&&inc>1000000){tax=112500*1+Math.round((inc*1-1000000*1)*30/100)}
else if((age=='b60' || age=='huf')&&inc>500000&&inc<=1000000){tax=12500*1+Math.round((inc*1-500000*1)*20/100)}
else if((age=='b60' || age=='huf')&&inc>200000&&inc<=500000){tax=Math.round((inc*1-250000*1)*5/100)}
else if((age=='b60' || age=='huf')&&inc<=250000){tax=0}
else if(age=='a60'&&inc>1000000){tax=110000*1+Math.round((inc*1-1000000*1)*30/100)}
else if(age=='a60'&&inc>500000&&inc<=1000000){tax=10000*1+Math.round((inc*1-500000*1)*20/100)}
else if(age=='a60'&&inc>250000&&inc<=500000){tax=Math.round((inc*1-300000*1)*5/100)}
else if(age=='a60'&&inc<300000){tax=0}
else if(age=='a80'&&inc>1000000){tax=100000*1+Math.round((inc*1-1000000*1)*30/100)}
else if(age=='a80'&&inc>500000&&inc<=1000000){tax=Math.round((inc*1-500000*1)*20/100)}
else if(age=='a80'&&inc<=500000){tax=0} 
if(age=='b60' && inc <=500000 && tax>0){tcredit=Math.round(tax)}
if(age=='a60' && inc <=500000 && tax>0){tcredit=Math.round(tax)}}
if (opt=='yes'){
if(inc > 1500000){itax=187500+(inc-1500000)*30/100}
else if(inc<=1500000&&inc>1250000){tax=125000+((inc-1250000)*25/100)}
else if(inc<=1250000&&inc>1000000){tax=75000+((inc-1000000)*20/100)}
else if(inc<=1000000&&inc>750000){tax=37500+((inc-750000)*15/100)}
else if(inc<=750000&&inc>500000){tax=12500+((inc-500000)*10/100)}
else if(inc<=500000&&inc>25000){tax=((inc-250000)*5/100)}
else if(inc<=250000&&inc>0){tax=0}}
if(inc<=500000&&inc>250000)tcredit=tax;
if(inc>500000){tcredit=0};
tax=tax*1-tcredit*1;
if(inc>5000000 && inc <=10000000){surch=tax*10/100;
if(surch>0 && (age=='b60'||age=='huf') && (inc*1-tax*1.10) <=3687500){ mtr=surch*1-(inc*1-3687500*1-tax*1)};
if(surch>0 && age=='a60' && (inc*1-tax*1.10) <=3690000){ mtr=surch*1-(inc*1-3690000*1-tax*1)};
if (surch>0 && age=='a80' && (inc*1-tax*1.10)<=3700000){ mtr=surch*1-(inc*1-3700000*1-tax*1)}}
if(inc>10000000){surch=tax*15/100;
if(surch>0 && (age=='b60'||age=='huf') && (inc*1-tax*1.15) <=6906250){mtr=surch*1-(inc*1-6906250*1-tax*1)};
if(surch>0 && age=='a60' && (inc*1-tax*1.15) <=6909000){mtr=surch*1-(inc*1-6909000*1-tax*1)};
if(surch>0 && age=='a80' && (inc*1-tax*1.15) <=6920000){mtr=surch*1-(inc*1-6920000*1-tax*1)}}
if(inc<=5000000){surch=0}
surch=surch*1-mtr*1;
ttax=tax*1+surch*1;
ecess=Math.round(ttax*.04);liab=ttax*1 + ecess*1;
 document.getElementById('ninc').value=Math.round(inc);
 document.getElementById('itax').value=Math.round(tax);
 document.getElementById('surch').value=Math.round(surch);
 document.getElementById('ecess').value=Math.round(ecess);
 document.getElementById('liab').value=Math.round(liab)}
    </script>
</body>
</html>